<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Category</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-100 text-gray-800 font-sans">    
    <div class="flex-1 p-6">
        <div class="bg-blue-500 text-white p-6 shadow-md rounded-b-lg mb-6">
            <h1 class="text-3xl font-bold text-center">Update Category</h1>
        </div>
    
        <form class="p-6 flex justify-end" action="/categories/" method="GET">
            <button 
                class="bg-purple-500 hover:bg-purple-600 text-white font-semibold py-2 px-4 rounded focus:outline-none focus:ring-2 focus:ring-cyan-500 focus:ring-opacity-50" 
                type="submit" 
            >
                Back to list
            </button>
        </form>
        <!-- Form -->
        <div class="container mx-auto p-6 bg-white shadow-lg rounded-lg">
            <form action="/categories/edit/<%= category.id %>" method="POST" class="space-y-6">
                <div>
                    <label for="name" class="block text-lg font-semibold text-gray-700">Category Name:</label>
                    <input type="text" id="name" name="name" value="<%= category.name %>" required class="w-full border border-gray-300 rounded-lg p-3 text-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent">
                </div>
                <input type="hidden" id="id" name="id" value="<%= category.id %>" required>
                <button type="submit" class="w-full bg-blue-500 hover:bg-blue-600 text-white font-semibold py-3 px-6 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">
                    Update Category
                </button>
            </form>
        </div>
    </div>
</body>
</html>
